.home-container {
    padding: 20px;
}

.start-button {
    color: #fff;
    background: #1890FF;
    font-size: 28px;
    width: 150px;
    height: 59px;
    align-items: center;
    margin-top: 25px;
    border-radius: 10px;
}

.home-container h2{
    font-size: 48px;
    padding: 7px 978px 5px 1px;
}
.home-container p{
    font-size: 24px;
    padding: 0px 978px 15px 1px;
    color: #7E7E7E;
}